/* TBD colerize from Palet from http://www.colourlovers.com/palette/867235/LoversInJapan
bright reddish #E94E77 question
light darker reddish #D68189 answers
light reddish brown #C6A49A player name
light blueish green #C6E5D9 timer
off white / tan #F4EAD5  all b/g */

  body {
    text-align: center;
    margin: 0 auto;
    background-image: url('./stacked_cir.png'); /*from subtle patters site (transparant pngs) */
    background-color: #F4EAD5;
    font-family: 'Lato', sans-serif;
  }

  #wrapper {
    width: 700px;
    display: inline-block;
  }

  #player_setup_screen {
  	display: none;
  }

  .form-row {
    margin: 20px;
  }
  .player_name {
    height: 16px;
  }

  #main_screen  {
  	display: none;
  }
  .display {
  	background-color: #C6E5D9;
    font-size: 20px;
    min-height: 32px;
  }
  #player {
  	background-color: #C6A49A;
    font-size: 24px;
    min-height: 40px;
  }
  
  .q_item {
     border: black 2px solid;
     background-color: #E94E77;
     width: 400px;
     height: 80px;
     font-size: 12px;
     float: left;
    /* text-align: center;
     margin: 0 auto;
     vertical-align: top;
     list-style: none; */
  }
  .q_item br {
    display: none;
  }
  #card_items {
    margin-left: 75px;
    display: inline-block;
    width: 400px;
    float: left;
  }
  .multi_answers {
      border: black 2px solid;
      background-color: #D68189;
      width: 400px;
      height: 80px;
      font-size: 12px;
      float: left;
    }
    .multi_answers br  {
      display: none;
    } /* To get rid of these tags from the input data */
    /*.card_item table {display: none;} */

  .card_title {
    float: left;
    font-size: 20px;
  }
  
  #card_area {
    max-width: 700px;
    font-family: 'Libre Baskerville', serif;
  }
  #progress_area {
     float: left;
     margin-top: 0px;
     margin-left: 10px;
  }

  .progress_areas {
    border: black 2px solid;
    height: 417px;
    width: 60px;
    background-color: #C6E5D9;
    display: inline-block;
    position: relative;
  }

  .player_progress {
    max-height: 400px;
    width: 60px;
    background-color: #C6A49A;
    position: absolute;
    bottom: 0;
  }

  #p1_progress_text, #p2_progress_text {
    position: absolute;
    top: 0;
    z-index: 99999;
  }

  #game_result_screen {
  	display: none;
    font-size: 20px;
    min-height: 100px;
  }
  #new_game_button {
    margin-top: 20px;
  }

/*
  @media (max-width: 990px) {
 .q_item {
 	  border: black 2px solid;
      background-color: #E94E77;
      width: 400px;
      height: 100px;
      font-size: 12px;
      float: left;
      margin-left: 50px;
  }
  
  @media (min-width: 991px) {
  	.q_item {
      border: black 2px solid;
      background-color: #E94E77;
      width: 400px;
      height: 100px;
      font-size: 12px;
      text-align: center;
      margin: 0 auto;
      vertical-align: top;
      list-style: none;
    }
  }*/


