

body {
  text-align: center;
  margin: 0 auto;
  background-image: url('img/hixs_pattern.png'); /*from subtle patters site (transparant pngs) */
  /*background-image: url('./dgrey031.gif'); */
  /*background-color: #F4EAD5;*/
  font-family: 'Lato', sans-serif;
  }

#summary {
  margin-top: 60px;
}

#ken-photo {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url('img/ken_photo1.jpg') no-repeat;
  background-size: 100%;

  /* push down and to the right */
  margin-top: 100px; /* ~ a little less than half of skillset height */
  margin-bottom: 80px;
  margin-left: 60px;  /* TBD add a responsive-ness to change these margins */
}
.skillsets {
	width: 350px;
	height: 180px;
  margin-bottom: 70px;
}
.skillset-bgs {
	width: 350px;
	height: 180px;
	border: 4px solid;
	border-color: white;
	border-radius: 25px;
	padding: 30px;
}
.code-snips {
	opacity: 0.4;
	width: 350px;
	height: 120px;
}

#CPP-code-photo {
	background: url('img/CPP_code.jpg') no-repeat;
	background-size: 70%;
}
#RoR-code-photo {
	background: url('img/RoR_code.jpg') no-repeat;
	background-size: 70%;
}
#MEAN-code-photo {
	background: url('img/MEAN_code.jpg') no-repeat;
	background-size: 80%;
}
#FrontEnd-code-photo {
	background: url('img/FrontEnd_code.jpg') no-repeat;
	background-size: 80%;
}

.skill-descrs {
	font-weight: bold;
	color: white;
	font-size: 28px;
}
#CPP-skillset-bg {
  
  background: url('img/cpp_logo') no-repeat;
  background-size: 100%;
}
#MEAN-skillset-bg {
  background: url('img/mean_logo.jpg') no-repeat;
  background-size: 100%;
}
#RoR-skillset-bg {
  background: url('img/logo-rails.jpg') no-repeat;
  margin-top: 80px;
  background-size: 100%;
}
#FrontEnd-skillset-bg {
  background: url('img/front_end_web_logo.png') no-repeat;
  margin-top: 80px;
  background-size: 100%;
}

.details {
  color: white;
  max-height: 800px;
  width: 1200px;
  border: 1px solid;
  border-color: white;
}

.project-pics {
	opacity: 0.8;
	width: 580px;
	height: 350px;
	border: 1px solid;
  border-color: white;
	border-radius: 25px;
  margin-top: 25px;
}
#CPP-pic {
  background: url('img/CPP_code.jpg') no-repeat;
  background-size: 100%;
}
#project4-pic {
  background: url('img/Project4.png') no-repeat;
  background-size: 120%;
}
#project3-pic {
  background: url('img/Project3.png') no-repeat;
  background-size: 120%;
}
#project2-pic {
  background: url('img/Project2.png') no-repeat;
  background-size: 105%;
}
#project1-pic {
  background: url('img/Project1.png') no-repeat;
  background-size: 105%;
}

.details-buttons {
  opacity: 0.8;
  margin: 15px;
  width: 200px;
  text-align: center;
  /*margin: 0 auto;*/
}

/*modal*/
.modal-body{
  color: black;
}
.modal-title{
  color: blue;
}
